<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel=“stylesheet” type="text/css" href=“style.css” >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>info</title>
</head>
<body>

<div th:insert="header"></div>

<section class="py-5">
    <div class="container">
        <br/>
        <h2 class="font-weight-light">Źródła:</h2>
        <p>Ilustracja na stronie głównej (public domain license)</p>
        <ul><li>https://www.cancercenter.com/community/blog/2019/05/keeping-belly-bacteria-balanced</li></ul>
        <p>Ilustracja na stronie wyników (public domain license)</p>
        <ul><li>https://upload.wikimedia.org/wikipedia/commons/9/93/Agar_plate_with_colonies.jpg</li></ul>
        <p>Symulacja omawiana w referacie i prezentacji</p>
        <ul><li>https://vlab.amrita.edu/?sub=3&brch=272&sim=1485&cnt=4</li></ul>

        <h2 class="font-weight-light">Intstrukcja</h2>
        <p>W celu uruchomienia symulacji należy:</p>
        <ul>
            <li>otworzyć zakładkę "Symulator"</li>
            <li>uzupełnić formularz o dane bakterii i środowiska</li>
            <li>wybrać opcję "Przeprowadź symulację!"</li>
        </ul>
        <p>
            Program wygeneruje wartości funkcji liczebności populacji i czasu.
            Lista po lewej to zbiór wcześniej wprowadzonych parametrów.
            Tabela po prawej przedstawia wielkość populacji w kolejnych krokach.
            Na dole zarejestrowana jest finalna wielkość symulowanej populacji.
            Wykres obrazujący zmiany liczebności jest dostępny w folderze 'Pobrane' na urządzeniu użytkownika.
            Ze względu na zabezpieczenia przeglądarek niemożliwe jest wyświetlenie go w oknie programu,
            jeżeli program jest uruchamiany lokalnie.
        </p>
    </div>
</section>

</body>
</html>